.nav-title{
  text-align: left;
  font-size: 20px;
}

.nav-num{
  text-align: center;
  font-size: 35px;
  line-height: 38px;
}

.ant-col{
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #EBEEF5;
  background-color: #fff;
}

.ant-col-7{
  flex: 0 0 32%;
  height: 115px;
  padding: 20px;
  margin-bottom: 20px;
}

.ant-col-11{
  flex: 0 0 49%;
  height: 550px;
  /* margin: 20px; */
  margin-bottom: 20px;
  max-width: 49%
}


.chart-title{
  text-align: left;
  font-size: 20px;
  padding: 18px 20px;
  border-bottom: 1px solid #EBEEF5;
}

.chart-nav{
  height: 600px;
}